<!DOCTYPE html>
<html>
    <head>
        <title>VenixDev Image Server</title>

        <meta property="og:url" content="https://i.venixdev.xyz/<%= fileName %>">
        <meta property="og:title" content="VenixDev CDN">
        <meta property="og:type" content="article">
        <meta name="theme-color" content="#008B8B">
        <% if (format === 'mp4') { %>
           <meta property='og:video' content="https://i.venixdev.xyz/raw/<%= fileName %>" />
        <% } else { %>
           <meta property="og:image" content="https://i.venixdev.xyz/raw/<%= fileName %>">
           <meta property="og:image:width" content="600" />
           <meta property="og:image:height" content="600" />
        <meta name="twitter:card" content="summary_large_image">
        <% } %>
        <meta name="author" content="VenixDev#3371">
        <% if (format === 'mp4') { %>
        <% } else { %>
           <meta name="twitter:card" content="summary_large_image">
           <meta property="twitter:image" content="https://i.venixdev.xyz/raw/<%= fileName %>">
        <% } %>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');

            body, html {
                font-family: "Cabin", sans-serif;
                background-color: #181818;
                color: white;
                overflow: hidden;
                margin: 0 auto;
            }

            .centerArea {
                display: flex;
                align-items: center;
                min-height: 100vh;
            }

            .textArea {
                color: #fff;
                width: 100%;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div class="centerArea">
            <div class="textArea">
                <h1>VenixDev CDN</h1>
                <% if (format === 'mp4') { %>
                    <embed src="/raw/<%= fileName %>" autostart="false" height="600" width="800" /></embed>
                <% } else { %>
                    <img src="/raw/<%= fileName %>" >
                <% } %>
            </div>
        </div>
    </body>
</html>